@font-face {font-family: poppins;src: url(../static/fonts/Poppins-Regular.ttf);
}
body,html{margin: 0; padding: 0; font-family: poppins; background-color: black; }
button{font-family: poppins;}
button:hover{cursor: pointer;}
input{font-family: poppins; font-weight: lighter;}
.flex-row{display: flex;flex-direction: row;
}
.flex-col{display: flex; flex-direction: column;}
.text-white{color: white;}
.items-center{align-items: center;}
.justify-center{justify-content: center;}


.loading-skeleton {animation: skeleton-loading 1.2s infinite;}
@keyframes skeleton-loading {0% {background-color:#7c5a79;}
    50% {background-color: #793a74;}
    100% {background-color: #7c5a79;}
}


/* Loading Bg and Circle */
#loading-bg{
    width: 100%; height: 100%; background-color: black; opacity: 0.6; z-index: 1000;
    position: fixed; top: 0; left: 0; display: flex; align-items: center; justify-content: center;
    visibility: hidden;
}
.loading-circle {
    width: 50px; height: 50px; border: 2px solid #7a4975; 
    border-top-color: #000000; border-radius: 50%; animation: spin 1s linear infinite;
}
/* Keyframes for spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



















/* Customize the width of the scrollbar */
::-webkit-scrollbar {
    width: 2px; /* Adjust the width to make it slim */
    height: 3px; /* This is for horizontal scrollbars */
  }
  
  /* Customize the track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #fff; /* You can change this to any color */
    border-radius: 10px; /* Adds rounded corners to the track */
  }
  
  /* Customize the scrollbar thumb (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #793a74; /* Scrollbar color */
    border-radius: 10px; /* Adds rounded corners to the thumb */
  }
  
  /* Hover effect for the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #e587dc; /* Darker on hover */
  }




/* Disable the default hide icons for password */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none; /* IE and Edge */
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none; /* Chrome, Safari, and other WebKit browsers */
}

/* Remove Firefox password toggle icon */
input[type="password"]::-moz-appearance {
    textfield; /* This may hide the icon in Firefox */
}